<div class="container">
  <div class="rows">

    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %><br>
        <% if @minimum_password_length %>
          <br />
          <em>半角英数字<%= @minimum_password_length %>文字以上</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :New_Password %><br />
        <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :New_Password %> <i>(確認のため)</i><br />
        <%= f.password_field :current_password, class: 'form-control', autocomplete: "current-password" %>
      </div><br>

      <div class="actions">
      <%= f.submit "Update!" %>
      </div><br>
    <% end %>

    <h4>アカウント削除</h4>

    <p>Unhappy? <%= button_to "アカウントを削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
</div>
