<div class="container">
  <div class="container-wrapper">
    <div class="rows">

      <h2>Edit My Page</h2>
      <%= form_with model: @user, local: true do |f| %>
        <div class="container">
          <div class="rows">
           <div class="col-md-12">
              <div class="field">
                <a><%= f.label "Icon Image" %></a><br />
                <%= f.file_field :image, autofocus: true %>
              </div>
            </div><br>

            <div class="col-md-12">
              <div class="field">
                <a><%= f.label "User Name "%></a><br />
                <%= f.text_field :name, class: 'form-control', autofocus: true %>
              </div>
            </div><br>

            <div class="col-md-12">
              <div class="field">
                <a><%= f.label :Age %></a><br />
                <%= f.text_field :age, class: 'form-control', autofocus: true %>
              </div>
            </div><br>

            <div class="col-md-12">
              <div class="field">
                <a><%= f.label :Location %></a><br />
                <%= f.select :location, User.locations.keys, {prompt: '選択してください'}, class: 'form-control btn btn-info' %>
              </div>
            </div><br>
         
            <div class="col-md-12">
              <div class="field">
                <a><%= f.label :Introduction %></a><br />
                <%= f.text_area :introduction, rows: 10,class: 'form-control', autofocus: true %>
              </div>
            </div><br />

            <div class="field">
              <%= f.submit "Update！", class: 'btn btn-primary' %>
            </div>

          </div>
        </div>
      <% end %><br />
    </div>
  </div>
</div>

