<% if current_user?(@user) %>
    <div class="container">
        <div class="container-wrapper">
            <div class="rows">
                <div class="center">
                    <%= image_tag @user.image.to_s %><br/><br/>
                    <h3><%= @user.name %></h3>
                    <%= render 'follow_form' %>
                    <%= render 'stats' %>
                    <i class="fas fa-cog fa-lg"><%= link_to "Edit", "/users/edit" %></i>
                    <i class="fas fa-user-edit fa-lg"><%= link_to "My Page", edit_user_path %></i>

                </div><br><br>

                <% if current_user.job == 'player' %>
                    <% if @rooms.present? %>
                        <h3>メッセージ一覧</h3>
                        <% @rooms.each do |r| %>
                            <% if r.messages.present? then @owner = User.find_by(id: r.owner_id) %>
                                <li><a href="/rooms/<%= r.id %>"><%= @owner.name %></a>
                            <% end %>
                        <% end %>
                    <% else %>
                        <h4>メッセージはありません</h4>
                    <% end %>
                <% elsif current_user.job == 'owner' %>
                    <% if @rooms.present? %>
                        <h3>メッセージ一覧</h3>
                        <% @rooms.each do |r| %>
                            <% if r.messages.present? then @player = User.find_by(id: r.player_id) %>
                                <li><a href="/rooms/<%= r.id %>"><%= @player.name %></a>
                            <% end %>
                        <% end %>
                    <% else %>
                        <h4>メッセージはありません</h4>
                    <% end %>
                <% end %>
                <br/><br/>
                

                <h3><i class="fas fa-user-circle">自己紹介</i></h3>
                <a><%= @user.sex %></a><br>
                <a>出身地：<%= @user.location %></a><br>

                <a>年齢 ：</a>
                <% if @user.age == nil %>
                    <a>未設定</a>
                <% else %>
                    <a><%= @user.age %>歳</a>
                <% end %><br>

                <a>プロフィール</a>
                <% if @user.introduction == nil %>
                    <a>： 未設定</a>
                <% else %>
                    <br /><a><%= @user.introduction %></a>
                <% end %><br>
                <br /><hr>
                <h4>投稿一覧</h4><hr>
                
                <% @user.posts.each do |post| %>
                    <div class="post_bg">
                        <div class="post_white">
                            <%= image_tag post.user.image.to_s %><br/>
                            <a>投稿者：</a><a href="/users/<%= post.user_id %>"><%= post.user.name %><br />
                            <a href="/posts/<%= post.id %>"><%= post.content %></a>
                            
                            <div id="likes_buttons_<%= post.id %>">
                                <%= render partial: 'likes/like', locals: { post: post } %>
                            </div>
                        </div>
                    </div><br>
                <% end %>
                
                <br />
                <h4>いいね！している投稿</h4>
                <% @user.liked_posts.each do |post| %>
                    <%= post.user.name %>
                    <a href="/posts/<%= post.id %>"><%= post.content %></a>
                    <hr>
                <% end %>
                <br />
                <%= link_to "一覧", posts_path, class: "btn btn-primary" %>
                <%= link_to "ユーザー一覧", users_path, class: "btn btn-primary" %>
            </div>
        </div>
    </div>

<% elsif current_user.id != @user.id %>
    <div class="container">
        <div class="container-wrapper">
            <div class="rows">
                <div class="center">
                    <%= image_tag @user.image.to_s %><br/><br/>
                    <h3><%= @user.name %></h3>
                    <%= render 'follow_form' %>
                    <%= render 'stats' %>
                   
                    <% if current_user.job == @user.job %>
                    <% else %>
                        <% if current_user.job == 'owner' %>
                            <% if @room.messages.present? %>
                                <%= link_to "メッセージ", room_path(@room) %>
                            <% else %>
                                <%= link_to "スカウトする", room_path(@room) %>
                            <% end %>
                        <% elsif current_user.job == 'player' %>
                            <% if @room.messages.present? %>
                                <%= link_to "メッセージ", room_path(@room) %>
                            <% else %>
                                <%= link_to "アプローチする", room_path(@room) %>
                            <% end %>
                        <% end %>
                    <% end %>
                </div><br><br>
                
                <h3><i class="fas fa-user-circle">自己紹介</i></h3>
                
                <a><%= @user.sex %></a><br>
                <a>出身地：<%= @user.location %></a><br>

                <a>年齢 ：</a>
                <% if @user.age == nil %>
                    <a>未設定</a>
                <% else %>
                    <a><%= @user.age %>歳</a>
                <% end %><br>

                <a>プロフィール</a>
                <% if @user.introduction == nil %>
                    <a>： 未設定</a>
                <% else %>
                    <br /><a><%= @user.introduction %></a>
                <% end %><br>
                <br /><hr>

                <h4>投稿一覧</h4><hr>
                <% @user.posts.each do |post| %>
                    <div class="post_bg">
                        <div class="post_white">
                            <%= image_tag post.user.image.to_s %><br/>
                            <a>投稿者：</a><a href="/users/<%= post.user_id %>"><%= post.user.name %><br />
                            <a href="/posts/<%= post.id %>"><%= post.content %></a>
                            
                            <div id="likes_buttons_<%= post.id %>">
                                <%= render partial: 'likes/like', locals: { post: post } %>
                            </div>
                        </div>
                    </div>
                <% end %><br>
                
                <h4>いいね！している投稿</h4>
                <% @user.liked_posts.each do |post| %>
                    <%= post.user.name %>
                    <a href="/posts/<%= post.id %>"><%= post.content %></a>
                    <hr>
                <% end %>
                <br />
                <%= link_to "ユーザー一覧", users_path, class: "btn btn-primary" %>
            </div>
        </div>
    </div>
<% end %>
