<% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
  <!-- ユーザーがログインしていた時の処理 -->
  <div class="main-wrapper">
    <div class="container">
      <div class="container-wrapper">
        <div class="rows">
          <%= search_form_for @q do |f| %>
            <%= f.label :name, "Post", class: "col-sm-1 col-form-label" %>
            <%= f.search_field :content_cont, class: "col-sm-9 col-form-control" %>
            <%= f.submit "Search", class: "btn btn-primary col-sm-1 col-form-control"  %>
          <% end %>
          <hr><hr>
          
          <% @posts.each do |post| %>
            <div class="post_bg">
              <%= image_tag post.user.image.to_s %><br/>

              <a>投稿者：</a><a href="/users/<%= post.user_id %>"><%= post.user.name %><br />
              <a href="/posts/<%= post.id %>"><%= post.content %></a>
              
              <div id="likes_buttons_<%= post.id %>">
                <%= render partial: 'likes/like', locals: { post: post } %>
              </div>
            </div><br>
          <% end %>
          
        </div>
      </div>
    </div>
  </div>
<% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
  <div class="main-wrapper">
    <div class="container">
      <div class="rows">
        <h2> 現在ログインしていません </h2>
        <%= link_to "ログイン", new_user_session_path, class: 'btn btn-primary post' %>
        <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-primary post' %>
      </div>
    </div>
  </div>
<% end %>