<!DOCTYPE html>
<html>
  <head>
    <title>Footballien</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header">
        <div class="header-left">
          <%= link_to "Footballien", posts_path, class: "btn btn-outline-primary" %>
        </div>
        <% if current_user == nil %>
        <% else %>
          <div class="header-center">
            <%= link_to "post", posts_path, class: "btn btn-primary" %>
            <%= link_to "マイページ", "/users/#{current_user.id}", class: "btn btn-primary" %>
          </div>
          <div class="header-right">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
