<!DOCTYPE html>
<html>
  <head>
    <title>Footballien</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header">
        <div class="header-left">
          <%= link_to "Footballien", posts_path, class: "btn btn-outline-primary" %>
        </div>
        <% if current_user == nil %>
        <% else %>
          <div class="header-center">
            <ul id="nav">
              <li><i class="fas fa-home fa-lg"> <%= link_to "Home", posts_path %></i></li>
              <li><i class="fas fa-user-circle fa-lg"> <%= link_to "My Page", "/users/#{current_user.id}" %></i></li>
              <li><i class="fas fa-edit fa-lg"> <%= link_to "New Post", new_post_path %></i></li>
            </ul>
          </div>
          <div class="header-right">
            <%= link_to "LogOut", destroy_user_session_path, method: :delete %>
          </div>
        <% end %>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
