<!DOCTYPE html>
<html>
  <head>
    <title>Footballien</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <%= link_to "Footballien", posts_path %>
      <% if current_user == nil %>
      <% else %>
        <div class="right">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
          <%= link_to "マイページ", "/users/#{current_user.id}", class: "btn btn-primary" %>
        </div>
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
